<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391898131515-ckdr2ivjm8850kft5qa4ertkqa8fllrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391898131515-ckdr2ivjm8850kft5qa4ertkqa8fllrt</string>
	<key>API_KEY</key>
	<string>AIzaSyCcW21tWR2mbZFg5PqyewP_f8mY65eLhIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>391898131515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.md.ToDo</string>
	<key>PROJECT_ID</key>
	<string>todo-6c0ec</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-6c0ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391898131515:ios:39ae22966c79c74c</string>
	<key>DATABASE_URL</key>
	<string>https://todo-6c0ec.firebaseio.com</string>
</dict>
</plist>